.root {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  height: calc(100% - 20px);
}

.content ::ng-deep .mat-drawer-inner-container {
  overflow: hidden;
}
.content {
  display: -webkit-flex;
  display: flex;
  flex: 1;
}

.left {
  width: 280px;
  border-right: solid 10px rgb(243, 243, 243);
}

.middle {
  flex: 1;
}

.right {
  width: 200px;
}

.footer {
  background-color:slateblue;
  height: 20px;
}

.input-container{
  display: flex;
  height: 34px;
  align-items: center;
}

.title{
  width: 80px;
  align-items: center;
  text-align: center;
}

.search-form {
  width: 200px;
}

